html,body{
    overflow:hidden;
}

.navbar-inverse{
    margin-bottom:0px;
    z-index:100;
    border:0;
    border-bottom:1px solid #000;
    border-radius:0;
    background-color:#252525 !important;
}

.navbar-inverse .navbar-brand,.navbar-inverse>a{
    color:#11DA61;
}

.navbar-inverse .navbar-brand:hover,.navbar-inverse>a:hover{
    color:#00CC33;
}

.admin{
    position:absolute;
    background-color:#f5f5f5;
    padding-top:60px;
    top:0px;
    height:100% !important;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;
    background-color:#444;
    z-index:99;
    overflow-y:auto;
}
.admin ul{
    margin-left:-15px;
    margin-right:-15px;
    margin-bottom: 15px;
    padding:0px;
    list-style: none;

}
.admin ul li > a,.admin ul li > a:active{
    padding-right: 20px;
    padding-left: 20px;
    padding-top:5px;
    padding-bottom:5px;
    color:#FFF;
}
.admin ul li.active > a,.admin ul li.active > a:hover{
    color: #fff;
    background-color: #13984D;
}.admin ul li a:hover,
.nav-menu > li > a:focus {
    /*background-color:#428bca;*/
    background-color:#222;
}
.content{
    padding:10px;
}
.page-header{
    margin-top:0px;
}
.page-header h3{
    margin-left:15px;
}
.form-horizontal .form-group{
    margin-right:0px;
}

.navbar-inverse .navbar-right>li>a {
    color: white;
    padding-right:0;
}
.navbar-inverse .navbar-right>li>a:hover {
    color: #DDD;
}
.navbar-right{
    color:white !important;
}
.navbar-btn{
    padding-left:15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.main{
    overflow-y: auto;
}
.image-upload{
    padding:10px;
    background-color:rgba(210,210,210,0.2);
    border:1px solid #DDD;
}
.image-preview{
    padding-top:10px;
}


.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}​


.dropdown-submenu:hover .dropdown-menu{
    /*display:block;*/
}
.dropdown-menu{
    margin:0;
    z-index:1000 !important;
    background-color:#333;
}
.dropdown-menu li{
    padding-left:20px;
}
.dropdown-menu a:hover{
    background-color:#00CC33 !important;
    color:white !important;
}

#addInput{
    padding:8px;
}

.labels {
   color: black;
   background-color: white;
   font-family: "Lucida Grande", "Arial", sans-serif;
   font-size: 10px;
   font-weight: bold;
   text-align: center;
   padding:2px 10px;  
   border: 2px solid black;
   white-space: nowrap;
 }
#removeNode{
    display: none;
}

.boxList{
    position:relative;
}

.boxItem{
    float:left;
    position:relative;
    width:200px;
    background-color:#f9f9f9;
    border:1px solid #AFAFAF;
    margin-left:20px;
    padding:5px;

}
.boxItem .boxItemName{
    text-align:center;
    padding-bottom:5px;
    border-bottom:1px solid #AFAFAF;
    margin-bottom:8px;
}

.boxItem .boxItemButtons{
    bottom:5px;
    left:0px;
    text-align:center;
    width:100%;
}

#main{
    min-height:230px;
}

#main h4.no-items-text{
    margin:0;
    padding:0;
    text-align:center;
}

.hours-column{
    display:inline-block;
    vertical-align: top;
    margin-right:5px;
    border-right:1px solid #AAA;
    padding:0px;
    width:auto;
    padding-right:6px;
}
#main .hours-column:last-child{

    border: 0 !important;
}
.hours-column-header{
    margin:0;
    margin-bottom:15px;
    padding:0;
    width:100%;
    text-align:center;
}
.hours-column-el{
    margin:0;
    margin-bottom:15px;
    cursor:pointer;
    padding:0;
    text-align:center;
}
#main{
    position:relative;
    white-space: nowrap;
    overflow-x:auto;
    overflow-y:hidden;
    margin-top:20px;
}

.main-buttons{
    position:absolute;
    top:0px;
    right:30px;
    z-index:99;
}

#massHoursAction{
    width:auto;
    margin-top:10px;
}

.error-span{
    color: red;
}

.gray-background{
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.4);
    z-index:999;
    width:100%;
    height:100%;
    display:table;
}

.absolute-centerer{
    width:auto;
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.white-tooltip{
    position:relative;
    white-space: nowrap;
    padding:5px;
    background-color:white;
    border-radius:5px;
    width:auto;
    margin:0px auto;
    margin:0 20%;
}

.map-right-panel{
    position:absolute;
    top:0px;
    right:0px;
    height:98%;
    padding:1%;
    z-index:10;
    width:auto;
    background-color:rgba(0,0,0,0.6);
}
.map-right-panel button{
    margin-bottom:10px;
}
.map-right-panel .panel-arrow{
    padding:5px;
    color:white;
    position:absolute;
    top:0px;
    background-color:rgba(0,0,0,0.6);
    z-index:5;
    font-size:20px;
}

.search-node-results{
    position: absolute;
    width:100%;
    background-color: white;
    padding: 0;
    margin: 0;
    display: none;

}
.search-node-results li{
    padding:5px 10px;
    cursor: pointer;
    list-style: none;
}

.search-node-results li:hover{
    background-color: #333;
    color: white;
}

.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.incognitoSelect{
    position:relative;
}

.incognitoSelect .options{
    display: none;
    position:absolute;
    width:100%;
    background-color:#FFF;
    border:1px solid #CCC;
}

.incognitoSelect .clickableArea{
    cursor: pointer;
    margin:0 !important;
}

.incognitoSelect .options div{
    padding:10px;
    cursor: pointer;
    font-weight: normal;
}

.incognitoSelect .options a:hover{
    text-decoration: none !important;
}

.incognitoSelect .options div:hover, .incognitoSelect .options div.active{
    background-color: #F5F5F5;
}


@media (max-width: 768px) {
    .admin{
        height:auto !important;
        display:none;
    }
}

.map-alert{
    position:absolute;
    top:0px;
    text-align:center;
    width:100%;
    display:none;
}
.map-alert-middle{
    position:relative;
    text-align:center;
    width:100%;
}
.map-alert-middle div{
    padding:3px 20px;
    font-size:17px;
    color:white;
    display: inline;
}
.map-alert-middle .success{
    
    background-color:rgba(20,200,20,0.7);
    
}
.map-alert-middle .danger{

    background-color:rgba(200,20,20,0.7);
}

.map-alert-middle .warning{

    background-color:rgba(200,120,00,0.7);
}