#nodes-canvas{
	position:relative;
	height:20px;
}
.nodes-point{
	width:20px;
	height:20px;
	border-radius:50%;
	border:1px solid #000;
	background-color:white;
	position:absolute;
	cursor:pointer;
}
.nodes-point.selected{
	background-color:#337ab7;
}
.nodes-line{
	position:absolute;
	left:0px;
	top:9px;
	height:1px;
	background-color:black;
	width:100%;
}
#nodes-redaction{
	position:relative;
	width:100%;
	min-height:75%;
	border:1px solid #000;
	margin-top:20px;
	padding:1%;
	margin-bottom:1%;
}

#nodes-redaction .arrow {
    z-index: 4;
    position: absolute;
    top:-11px;
    left: 10px;
    margin-left: -11px;
    content:'';
    width: 0;
    height: 0;
    border-bottom: solid 11px #000;
    border-left: solid 11px transparent;
    border-right: solid 11px transparent;
}

#nodes-redaction .arrow .arrow-background {
    position: absolute;
    margin-left: -9px;
    top:2px;
    content:'';
    width: 0;
    height: 0;
    border-bottom: solid 9px #FFF;
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
}
#nodes-redaction .node-header-bar{
	position:relative;
	padding-bottom:10px;
	margin-bottom:5px;
	border-bottom: 1px solid #CCC;
}
#nodes-redaction .node-header-bar h3{
	text-align: center;
}

#nodes-redaction .node-header-bar .previous-node{
	position:absolute;
	left:5px;
	top:0px;
}

#nodes-redaction .node-header-bar .next-node{
	position:absolute;
	right:5px;
	top:0px;
}

.node-days-col{
	text-align: center;
	border-right: 1px solid #CCC;
}
.node-days-col:last-child{
	border-right: 0;
}