html, body {
    height: 100%;
    line-height: 1.42857143;
    color:white;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato', 'Open Sans', sans-serif;
}
.navbar{
    position:relative;
    top:0px;
    height:120px;
    line-height: 60px;
    width:98%;
    text-align:right;
    z-index:100;
}


 
.navbar a, .navbar div{
    color:white;
    text-decoration:none;
    /*padding-left:25px;*/
    padding-right:35px;
    font-size:20px;
    font-weight: 300;
    /*border-right:1px solid #FFF;*/
    z-index:999;
}
.navbar a:last-child{
    padding:0;
}
.navbar div{
    font-size:30px;
}

.navbar a:last-child{
    border:0;
}

.container-background{
    background: url(/images/bck.jpg) center no-repeat;
    background-size: cover;
    position:relative;
    width:100%;
    height:100%;
    z-index:50;
    
}
.container,.color-filter{
    position:relative;
    width:100%;
    height:100%;
    background-color:rgba(32,32,44,0.64);
    z-index:99;
    /*display:table;*/
}

.welcome {
    text-align: center;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

#content{
    width:100%;
    background-color:#FFF;
}

.title {
    font-size: 96px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
.subtittle {
    font-size:33px;
    font-family: 'Lato';
    font-weight: 100;

    opacity:0;
    
    z-index:10;
    position:relative;
    
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-delay:2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadein 3s;
    -moz-animation-delay:2s;/* Firefox < 16 */
    -moz-animation-fill-mode: forwards;
     -ms-animation: fadein 3s;
     -ms-animation-delay:4s;/* Internet Explorer */
     -ms-animation-fill-mode: forwards;
      -o-animation: fadein 3s;
      -o-animation-delay:2s;/* Opera < 12.1 */
      -o-animation-fill-mode: forwards;
        animation: fadein 3s;
        animation-delay:2s;
        animation-fill-mode: forwards;
        
}

.button{
    position:relative;
    width:80px;
    height:80px;
    margin:0px auto;
    border-radius:100px;
    line-height:120px;
    border:1px solid white;
    background-color:rgba(150,150,150,0.15);
    cursor:pointer;
    transition: background 0.3s ;
}
.button-image{
    width:30px;
    height:40px;
    margin-left:25px;
    margin-top:20px;
    background: url(/images/arrow.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}
.button span{
    font-size:40px;
}
.button:hover{
    background:rgba(150,150,150,0.4);
}

.map{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
}
.directionsController{
    position:absolute;
    padding:10px;
    background-color:rgba(0,0,0,0.5);
    top:10px;
    left:10px;
    width:50%;
    z-index:20;
}
.directionsController input[type=text]{
    width:70%;
    border-radius:5px;
    padding:6px;
}
.directionsController input[type=button]{

    padding:6px;
}

.directionsController .fullwidth{
    height:62px;
    padding:6px 20px !important;
}
#googleMap{
    width:100%;
    height:100%;
}
@media only screen and (max-width:632px){
    .navbar{
        text-align:center;
    }
    .navbar a:last-child{
        padding-right:0;
    }
    .button{
        /*margin-top:110px;*/
    }
    .directionsController{
        width:96%;
        left:0;
        top:0;
    }

}

@media screen and (max-width: 960px) {
    .comming-soon h1{
        font-size:70px !important;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    
}
::-webkit-scrollbar { 
    /*display: none; */
}

.fa{
	display:none !important;
}
.black-background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    z-index:30;
}
.message-box{
    position:absolute;
    width:70%;
    height:70%;
    top:13%;
    left:13%;
    padding:2%;
    background-color:white;
    color:black;
    text-align:center;
}

.comming-soon{
    background-color:#000;
    display: table;
}

.comming-soon h1{
    font-size:100px;
    font-family: 'Lato';
    font-weight: 100;
    text-align:center;
    color:white;
    vertical-align:middle;
    display: table-cell;
}


#scroll-nav{
    position:fixed;
    top:0;
    z-index:999999;
    background-color: white;
    width:100%;
    display:none;
    height:90px;
    border-bottom:1px solid #DEDEDE;
}
#scroll-nav .color-filter{
    background-color: transparent;
}

#scroll-nav a{
    color:black;
}

#scroll-nav{
    height:70px;
}
#scroll-nav .navbar-header{
    padding:10px 40px; !important; 
}
#scroll-nav .navbar-nav{
    padding:20px !important;
}

#nav-main{
    width: 100%;
    background: url(/images/bck.jpg) center no-repeat;
    background-size: 100%;
    z-index:999999;
}
.navbar-header{
    padding:20px 40px;
    float:left;
    
}
.navbar-header a{
    font-size:33px;
    color:white;
    text-decoration: none;
    font-weight:300;

}
.collapse{
    float:right;
}

.navbar-nav{
    margin:0;
    padding:29px;
    list-style:none;
}
.navbar-nav li{
    float:left;
    margin:0px 10px;
    cursor: pointer;
}
.navbar-nav li a{
    color:white;
    text-decoration:none;
    /*padding-left:25px;*/
    margin:0px 10px;
    font-size:20px;
    font-weight: 300;
    /*border-right:1px solid #FFF;*/
    z-index:999;
}
.navbar-nav li.selected a,
.navbar-nav li:hover a{
    color:#5FE6DD;
}

.mobile-menu{
    width:40px;
    height:40px;
    background-image:url(/images/menu.png);
    background-size:100% 100%;
    display: none;
    margin:23px;
    cursor: pointer;
}

#content{
    position:relative;
    color:black;
    font-family: 'Open Sans', sans-serif; !important;

}

#content .col-2{
    float:left;
    width: 50%;
    height:100%;
    z-index: 55;
}

#content .col-3{
    float:left;
    width: 33.3333333%;
    height:100%;
    z-index: 55;
    padding-bottom:60px;
}

.icon-title{
    text-align: center;
    padding-top:20px;
    font-size:22px;
    width:60%;
    margin: 0px auto;
}

#content .col-3 .icon{
    width:150px;
    height: 150px;
    
    margin:0px auto;
}

#content .col-3 .icon-circle{
    border-radius: 100%;
    border:2px solid #000;
    background-size: 60% 60%;
}
#content .line{
    position: absolute;
    width:20%;
    left:25%;
    top:50%;
    height:1px;
    background-color:#000;
    z-index: 0;
}
.fullheihgt{
    width:100%;
}

#content .simple-text{
    margin:0px auto;
    padding:80px 30px;
    font-size:25px;
    font-weight: 100;
    text-align:center;
    color:#111;

}

#content .simple-image{
    width:100%;
    height:400px;
    background-size:cover;
    background-position: center;
}

.phone-emulator{
    background-image: url(images/iphone.png);
    background-size: 300px 512px;
    width: 300px;
    height: 512px;
    position: relative;
}

#frame_htc_one_emulator iframe{
    position: absolute;
    width: 225px;
    height: 340px;
    left:45px;
    margin: 77px 0 0 -5px;
}

#content form{
    padding:20px 15%;
}
#content input{
    padding:10px;
    font-size:18px;
    font-weight: 100;
    border:1px solid #337ab7;
    width:100%;
    margin-bottom:10px;
    color:#337ab7;
}
#content textarea{
    padding:10px;
    font-size:18px;
    font-weight: 100;
    border:1px solid #337ab7;
    width:100%;
    height:200px;
    margin-bottom:10px;
}
#content input[type=submit]{
    background-color: transparent;
    padding: 10px 50px;
    width:auto;
    margin-bottom:10px;
    background-color: #337ab7;
    color:white;
    cursor: pointer;
}
footer{
    padding:40px;
    text-align:center;
    background-color: #333;
    color:white;
    font-family: sans-serif !important;
}

@media (max-width: 768px){
    #content .col-3{
        float:none !important;
        width:100% !important;
    }

    .navbar-nav{
        position: absolute;
        display:none;
        background-color: #444;
        z-index:9999999;
        padding:0;
        right:20px;
        top:63px;
    }
    .navbar-nav li{
        float:none;
        margin:0px;
        padding:10px 50px;
    }

    .navbar-nav li a{
        color:white;
    }
    .mobile-menu{
        display: block;
    }
    .navbar-nav li.selected a,
    .navbar-nav li:hover a{
        color:white;

    }
    .navbar-nav li.selected,
    .navbar-nav li:hover{
        background-color: #222;
    }
    .navbar-header{
        padding:20px !important;
    }
    #scroll-nav .navbar-header{
        padding:10px 20px !important;
    }

    #content .col-3{
        padding:50px 0px !important;
    }

    #content form{
        padding:20px 15%;
    }

    #scroll-nav .mobile-menu{
        background-image:url(/images/menu-black.png);
        margin:13px 23px;
    }
    #scroll-nav .navbar-nav{
        background-color: #FFF !important;
    }
    #scroll-nav .navbar-nav li.selected a,
    #scroll-nav .navbar-nav li:hover a{
        color:white;

    }
    #scroll-nav .navbar-nav li.selected,
    #scroll-nav .navbar-nav li:hover{
        background-color: #000;
        color:#FFF;
    }
    #scroll-nav .navbar-nav li:hover a{
        color:#FFF;
    }

    #scroll-nav .navbar-nav{
        padding:0px !important;
    }

}

