.toggler{
    position:relative;
    width:56px;
    height:28px;
    border-radius:20px;
    cursor:pointer;
    border:1px solid #AAA;
    //border-color: #009459;
    background-color:#337ab7;
    transition:all 0.7s ease;
}
.toggler.off{
    //border-color:red;
    background-color:#CCC;
}
.toggler input{
    display:none;
}
.toggler .active{
    position:absolute;
    top:0px;
    width:50%;
    height:100%;
    margin-top:5%;
    text-align:center;
    color:green;
}
.toggler .inactive{
    position:absolute;
    top:0px;
    width:50%;
    margin-top:5%;
    margin-left:50%;
    text-align:center;
    color:#A20000;
}
.toggler .round{
    position:relative;
    width:50%;
    height:100%;
    /*background-color:#00A261;*/
    background-color:#EEE;
    border-radius:20px;
    transition:all 0.5s ease;
    box-shadow:0px 0px 1px #AAA;
    margin-left:50%;
    z-index:10;
}
.toggler .round.off{
    margin-left:0px;
    background-color:#EEE;
}