html, body {
    height: 100%;
    line-height: 1.42857143;
    color:white;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-family: 'Lato', 'Open Sans', sans-serif;
    overflow:hidden;
}
.main{
    position:relative;
    width:100%;
    height:auto;
}
.navbar{
    position:absolute;
    top:0px;
    padding:30px 1%;
    width:98%;
    text-align:right;
    z-index:100;
}
 
.navbar a{
    color:white;
    text-decoration:none;
    /*padding-left:25px;*/
    padding-right:35px;
    font-size:20px;
    font-weight: 300;
    /*border-right:1px solid #FFF;*/
    z-index:999;
}

.navbar a:last-child{
    border:0;
}

.container-background{
    background: url(/images/bck.jpg) center no-repeat;
    background-size: cover;
    position:relative;
    width:100%;
    height:100%;
    z-index:200;
    
}
.container{
    position:relative;
    width:100%;
    height:100%;
    background-color:rgba(32,32,44,0.64);
    z-index:99;
    /*display:table;*/
}

.welcome {
    text-align: center;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}

.content {
    text-align: center;
    /*display: inline-block;*/
}

.title {
    font-size: 96px;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
}
.subtittle {
    font-size:33px;
    font-family: 'Lato';
    font-weight: 100;

    opacity:0;
    
    z-index:10;
    position:relative;
    
    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
    -webkit-animation-delay:2s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation: fadein 3s;
    -moz-animation-delay:2s;/* Firefox < 16 */
    -moz-animation-fill-mode: forwards;
     -ms-animation: fadein 3s;
     -ms-animation-delay:4s;/* Internet Explorer */
     -ms-animation-fill-mode: forwards;
      -o-animation: fadein 3s;
      -o-animation-delay:2s;/* Opera < 12.1 */
      -o-animation-fill-mode: forwards;
        animation: fadein 3s;
        animation-delay:2s;
        animation-fill-mode: forwards;
        
}

.button{
    position:relative;
    width:80px;
    height:80px;
    margin:0px auto;
    border-radius:100px;
    line-height:120px;
    border:1px solid white;
    background-color:rgba(150,150,150,0.2);
    cursor:pointer;
    transition: background 0.3s ;
}
.button-image{
    width:30px;
    height:40px;
    margin-left:25px;
    margin-top:20px;
    background: url(/images/arrow.png) no-repeat;
    background-size: 100% 100%;
    color:white;
}
.button span{
    font-size:40px;
}
.button:hover{
    background:rgba(150,150,150,0.4);
}

.map{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    visibility:hidden;
}
.directionsController{
    position:absolute;
    padding:10px 50px;
    background-color:rgba(250,250,250,0.9);
    box-shadow:0px 3px 20px #BBB;
    webkit-backdrop-filter: blur(10px);
    z-index:20;
}
.block-controls{

    position:absolute;
    padding:10px 0px;
    background-color:rgba(100,100,100,0.5);
    z-index:25;
    display:none;

}
.directionsController input[type=text]{
    width:70%;
    border-radius:2px;
    padding:6px;
}
.directionsController input[type=button]{

    padding:6px;
}

.directionsController .fullwidth{
    height:62px;
    padding:6px 20px !important;
}
#googleMap{
    width:100%;
    height:100%;
}
@media only screen and (max-width:350px){
    .switchButton{
        display: none;
    }
}
@media only screen and (max-width:632px){
    .navbar{
        text-align:center;
    }
    .navbar a:last-child{
        padding-right:0;
    }
    .button{
        /*margin-top:110px;*/
    }
    .directionsController{
        width:96%;
        left:0;
        top:0;
        padding:10px 2%;
    }

}

@media screen and (max-width: 960px) {
    .comming-soon h1{
        font-size:70px !important;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
    
}
::-webkit-scrollbar { 
    /*display: none; */
}

.fa{
	display:none !important;
}
.black-background{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    z-index:90;
}


.message-buttons .message-box-button{
    background: 0;
    outline: 0 !important;
    padding:5px 15px;
    border:1px solid #666;
    border-radius:5px;
    font-size:16px;
    margin-top:20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.general-statistic{
    position:absolute;
    width:70%;
    height:70%;
    top:9%;
    left:13%;
    padding:2%;
    background-color:white;
    color:black;
    text-align:center;
    z-index:500;
}

.message-box{
    position:absolute;
    width:30%;
    height:45%;
    top:20%;
    left:33%;
    padding:2%;
    background-color:white;
    color:black;
    text-align:center;
    z-index:100;
}
.message-box{
    display:table;
}

.message-box-centerer{
    display:table-cell;
    vertical-align: middle;

}

.message-box h2{
    margin-top:0;
    padding-top:0;
    margin-bottom:0px;
}
.message-buttons .message-box-button:first-child{
    margin-top:20px;
}
.message-buttons .message-box-button:hover{
    color:white;
    background-color: #666;
}

.comming-soon{
    background-color:#000;
    display: table;
}

.comming-soon h1{
    font-size:100px;
    font-family: 'Lato';
    font-weight: 100;
    text-align:center;
    color:white;
    vertical-align:middle;
    display: table-cell;
}


.navbar-header{
    padding:20px;
    float:left;
}
.navbar-header a{
    font-size:33px;
    color:white;
    text-decoration: none;
    font-weight:300;

}
.collapse{
    float:right;
}

.navbar-nav{
    margin:0;
    padding:29px;
    list-style:none;
}
.navbar-nav li{
    float:left;
    margin:0px 10px;
    cursor: pointer;
}
.navbar-nav li a{
    color:white;
    text-decoration:none;
    /*padding-left:25px;*/
    margin:0px 10px;
    font-size:20px;
    font-weight: 300;
    /*border-right:1px solid #FFF;*/
    z-index:999;
}
.navbar-nav li.selected a,
.navbar-nav li:hover a{
    color:#5FE6DD;
}

.mobile-menu{
    width:40px;
    height:40px;
    background-image:url(/images/menu.png);
    background-size:100% 100%;
    display: none;
    margin:23px;
    cursor: pointer;
}

.walking-icon{
    background-image:url(/icons/walking.png);
}

.waiting-icon{
    background-image:url(/icons/waiting.png);
}

.action-image{
    width:70px;
    height:70px;
    background-size:100% 100%;
    float:left;
}

.stats-box{
    height:70px;
    font-size:20px;
    float:left;
    color:black;
}
.stats-box .total-time{
    position:absolute;
    bottom:0;
}


.form{
    position: relative;
}
.fromSelect, .toSelect{
    width:18px;
    height:15px;
    padding:6px;
    background-color: transparent;
    border:0.2px solid #999;
    background:url(/images/pin.png) center no-repeat;
    background-size: 20px 17px;
    margin-right:5px;
    float:left;
    border-radius: 4px;
    cursor: pointer;
}

.fromSelect.active, .toSelect.active{
    background-color:#E0E0E0;
    border-color:black;
}

#from, #to{
    float:left;
    background-color: transparent;
    border:0;
    border-bottom:1px solid #999;
    color:#333;
    width:250px;
    border-radius: 0;
    outline: none !important;
}

#from.special, #to.special{
    color:blue;
}

.fromSelect:focus, .toSelect:focus{
    border:1px solid blue;
}

.getCurrentLocation{
    position:absolute;
    height:26px;
    width:20px;
    left:276px;
    top:1px;
    background:url(/images/locate.png) center no-repeat;
    background-size: 20px 20px;
    cursor:pointer;
}

.switchButton{
    width:40px;
    height:62px;
    border: 1px solid #aaa;
    float:left;
    margin-left:15px;
    background:url(/images/double-arrow.png) center no-repeat;
    background-size: 30px 40px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

#calculate{
    width:62px;
    height:62px;
    border: 1px solid #999;
    float:left;
    margin-left:15px;
    background:url(/images/go.png) center no-repeat;
    background-size: 40px 40px;
    transition: background-color 0.2s ease;
    cursor: pointer;
    border-radius: 100%;
    transition: background-color 0.2s ease;
}

.switchButton:hover, #calculate:hover{
    background-color: #F0F0F0;
}

.labels {
   color: black;
   background-color: rgba(255,255,255,0.8);
   font-size: 15px;
   text-align: center;
   padding:2px 10px;  
   border: 2px solid black;
   white-space: nowrap;
 }

.animation-control-buttons{

    position: absolute;
    padding:4px;
    background-color: rgba(255,255,255,0.9);
    height:20px;
    top:0px;
    z-index:50;
    display:none;

}

.fast-forward{

    background:url(/images/fast-forward.png) center no-repeat;
    background-size: 30px 30px;
}

.stop-animation{

    background:url(/images/stop.png) center no-repeat;
    background-size: 30px 30px;
}

.start-animation{

    background:url(/images/start.png) center no-repeat;
    background-size: 30px 30px;
}

.skip-animation{

    background:url(/images/skip.png) center no-repeat;
    background-size: 30px 19px;
    width:50px !important;
}

.fast-rewind{

    background:url(/images/fast-rewind.png) center no-repeat;
    background-size: 30px 30px;

}
.fast-forward, .stop-animation, .skip-animation, .fast-rewind, .start-animation{

    float:left;
    width:35px;
    height:20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fast-forward:hover, .stop-animation:hover{
    background-color: white;
}

.arrive-icon{
    height:90%;
    background:url(/images/arrive.png) center no-repeat;
    background-size:auto 90%;
    float:left;
}

.status-table{
    float:left;
    margin-left:40px;
    padding-top:20px;
    overflow-y:auto;
    font-family: 'Open Sans', sans-serif;
}

.status-table .row{
    width:100%;
    padding:10px 0px;
    border-bottom:1px solid #CCC;

}

.status-table .row-title{
    width:100%;
    padding:10px 0px;
    border-bottom:1px solid #CCC;
    font-weight: bold;
}

.status-table .row .col{
    width:50%;
    float:left;
    text-align:left;
}
.status-table .row .col:last-child{
    text-align:right;
}

.general-statistic-fullbox{
    display:none;
    z-index:500;
}

.statisctics-box-buttons{
    position:absolute;
    bottom:10px;
    width:210px;
    right:0px;
    height:50px;
}

.statisctics-box-buttons div{
    padding:10px 20px;
    border:1px solid #000;
    border-radius: 5px;
    width:150px;
    text-align: center;
    margin:0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.statisctics-box-buttons div:hover{
    background-color:#222;
    color:white;
}

.animation-control-buttons-left{
    float:left;
}

.animation-control-buttons-right{
    float:right;
    text-align:right;
    display:none;
}

.animation-control-buttons-right div{
    float:right;
    color:black;
    padding:0px 5px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 5px;
    margin-left:10px;
}

.animation-control-buttons-right div:hover{

    background-color: #F0F0F0;
}

.hourController{
    position: absolute;
    background-color: rgba(250,250,250,0.9);
    top:-31px;
    height:60px;
    right:0px;
    padding:5px 15px;
    color:black;
    width:250px;
    z-index: 20;
    text-align: center;
    box-shadow: 0px 3px 20px #BBB;
    padding-left:20px;
    overflow: hidden;
    transition: all 0.5s ease;
}

.hourController .hourTitle{
    padding:5px;
    padding-top:7px;
}

.hourController #leavingTime, .hourController #leavingDate{
    border:0;
    outline: 0;
    background-color: transparent;
    border-bottom:1px solid #999;
    width: 100px;
    margin-right: 20px;
    padding: 0;
    text-align: center;
    float:left;
    margin-top:10px;
}

.hourController #reset{
    width:100%;
    margin-top:10px;
    border:0;
    outline: 0;
    background-color: transparent;
    text-align: center;
    border:1px solid #999;
    padding:5px 0px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.hourController #reset:hover{
    background-color:#5cb85c;
    color:white;
}

.hourController .clockIcon{
    float:left;
    width:40px;
    height: 40px;
    background: url(/images/clock.png) left no-repeat;
    background-size: 100% 100%;
    margin:5px;
    margin-right: 15px;
    line-height: 40px;
    z-index: 25;
}

.hourController input[type=date], .hourController input[type=time]{
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #999;
}
.hourController .reloadTime{
    width:20px;
    height:20px;
    margin-top:4px;
    background: url(/images/restart.png) center no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    float:right;
}

.loading-icon{
    width:90px;
    height:90px;
    background:url(/images/loading.gif) center no-repeat;
    background-size:197px 130px;
    margin:0px auto;
}

@media (max-width: 768px){

    .title{
        font-size: 80px;

    }

    .subtittle{
        
    }

    .button{
        width:70px;
        height:70px;
    }

    .button-image{
        margin-left:20px;
        margin-top:15px;
    }

    .general-statistic{
        width:90%;
        height:90%;
        top:3%;
        left:3%;
        padding:2%;
    }

    .arrive-icon{
        display:none;
    }

    .status-table{
        width:100% !important;
        margin:0;
    }

    .navbar-nav{
        position: absolute;
        display:none;
        background-color: #444;
        z-index:9999999;
        padding:0;
        right:20px;
        top:63px;
    }
    .navbar-nav li{
        float:none;
        margin:0px;
        padding:10px 50px;
    }

    .navbar-nav li a{
        color:white;
    }
    .mobile-menu{
        display: block;
    }
    .navbar-nav li.selected a,
    .navbar-nav li:hover a{
        color:white;

    }
    .navbar-nav li.selected,
    .navbar-nav li:hover{
        background-color: #222;
    }
    #from, #to{
        width:150px !important;
    }

    .message-box{
        position:absolute;
        width:70%;
        height:70%;
        top:9%;
        left:13%;
        padding:2%;
        background-color:white;
        color:black;
        text-align:center;
        z-index:100;
    }
    .getCurrentLocation{
        left:180px;
    }
    .animation-control-buttons-right{
        position: absolute;
        top:27px;
        right: 0;
        background-color: white;
    }
    .animation-control-buttons-right div{
        float:none;
        padding: 3px;
    }

    .hourController{
        top:90px;
    }
}

#content{
    position:absolute;
    color:black;
}
#content h1{

    font-weight: 100;
    margin:0;
    padding:0;
        
    font-size:80px;
}