.wizard{
    width:100%;
    margin-bottom:30px;
}

.wizard .step{
    width:33.3333%;
    float:left;
    text-align:center;
    z-index:10;
}

.wizard .step .ball{
    width:50px;
    height:50px;
    line-height: 46px;
    font-size:20px;
    color:#555;
    border-radius: 100%;
    border:2px solid #999;
    background-color:#ECECEC;
    margin:0px auto;
}
.wizard .step .ballText{
    font-size:17px;
    padding-top:10px;
    width:60%
    margin:0px auto;
}

.wizard .line{
    position:absolute;
    width:68%;
    height:3px;
    background-color:#999;
    left:16%;
    top:110px;
    z-index:-1;
}

.wizard .step .ball.current{
    border-color:#13984D;
}

.wizard .step .ball.passed,.wizard .step .ball.current{
    background-color:#90F5BC;
}